@model EmployeeListViewModel
@{
    ViewBag.Title = "Employees";
}

<div class="text-center">
    <h1 class="display-4 my-4 text-center">
        All Employees
    </h1>

    <input id="txtEmployeeName" type="text" />
    <button id="searchButton" class="btn btn-secondary">Search</button>

    <div class="col-md-10 col-xl-8 mx-auto">
        <table class="table table-hover">
            <caption>All Employees</caption>

            <thead>
                <tr class="border-bottom fs-5">
                    <td class="col-4">
                        <p>Name</p>
                    </td>
                    <td class="col-4">
                        <p>Position</p>
                    </td>
                    <td class="col-4">
                        <p>Location</p>
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr class="border-bottom">
                        <td class="col-4">
                            <a class="link-dark text-decoration-none" asp-controller="App" asp-action="EmployeeDetails" asp-route-id="@employee.EmployeeId">
                                <p>@employee.FirstName.First(). @employee.LastName</p>
                            </a>
                        </td>
                        <td class="col-4">
                            <p>@employee.Position</p>
                        </td>
                        <td class="col-4">
                            <p>@employee.Location.LocationName</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    function searchEmployee(searchQuery) {
        $("caption").html("Search results");
        $("tbody").html("");

        $.ajax({
            type: "POST",
            url: "/api/Search",
            data: "\"" + searchQuery + "\"",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (employees) {
                $.each(employees, function (i, employee) {
                    $("tbody").append($("<tr>"));
                    appendElement = $("tbody tr").last();
                    appendElement.append($("<td>").html('<p><a href="/app/employeedetails/' + employee.employeeId + '" class="link-dark text-decoration-none">' + employee.firstName + " " + employee.lastName + '</a></p>'));
                    appendElement.append($("<td>").html('<p>' + employee.position + '</p>'));
                    appendElement.append($("<td>").html('<p><a href="/app/locationdetails/' + employee.location.locationId + '" class="link-dark text-decoration-none">' + employee.location.locationName + '</a></p>'));
                });
            },
            error: function (xhr, status, error) {
                console.log(xhr)
            }
        });
    }

    $("#txtEmployeeName").on('keyup', function (e) {
        if (e.which == 13) {
            var searchQuery = $.trim($("#txtEmployeeName").val());

            searchEmployee(searchQuery);
        }
    });

    $("#searchButton").on('click', function () {
        var searchQuery = $.trim($("#txtEmployeeName").val());

        searchEmployee(searchQuery);
    });

</script>