@model EmployeeListViewModel
@{
    ViewBag.Title = "Employees";
}

<div>
    <h1 class="display-4 my-4 text-center">All Employees</h1>

    <div class="col-md-10 col-xl-8 mx-auto">
        <table class="table table-hover">
            <caption>All Employees</caption>

            <thead>
                <tr class="border-bottom fs-5">
                    <td class="col-4">
                        <p>Name</p>
                    </td>
                    <td class="col-4">
                        <p>Position</p>
                    </td>
                    <td class="col-4">
                        <p>Location</p>
                    </td>
                </tr>
            </thead>

            <tbody>
                @foreach (var employee in Model.Employees)
                {
                    <tr class="border-bottom">
                        <td class="col-4">
                            <a asp-controller="App" asp-action="EmployeeDetails" asp-route-id="@employee.EmployeeId">
                                <p>@employee.FirstName.First(). @employee.LastName</p>
                            </a>
                        </td>
                        <td class="col-4">
                            <p>@employee.Position</p>
                        </td>
                        <td class="col-4">
                            <p>@employee.Location.LocationName</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>